body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}


/** Navbar **/
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/** Title Section **/

#title {
    padding: 5% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.downloadButton {
    margin: 5% 3% 5% 0;
}

.titleImage {
    width: 60%;
    transform: rotate(25deg)
}

/** Features section **/

#features {
    padding: 5% 15%;
    text-align: center;
}

.featuresBox {
    padding: 5%;
}

.featuresIcon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.featuresIcon:hover {
    color: #ff4c68;
}

.featuresText {
    color: #8f8f8f;
}

/** Testimonial section **/

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.ciPadded {
    padding: 5% 15%;
}

/** Press section **/

#press {
    padding: 5% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.pressLogo {
    width: 20%;
    margin: 20px 20px 50px
}

/** Pricing section **/

#pricing {
    padding: 5% 15%;
    text-align: center;
}

.pricingColumn {
    padding: 3% 2%;
}
    